<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery Dish Hydrogen Line</title>
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Load Plotly from local static files -->
    <script src="/static/js/plotly.min.js"></script>
    <!-- Load Socket.IO from local static files -->
    <script src="/static/js/socket.io.min.js"></script>
</head>
<body>
    <!-- Sidebar for buttons and status -->
    <div class="sidebar">
        <h2>Controls</h2>

        <label for="input-frequency">Frequency (Hz)</label>
        <div class="frequency-container">
            <input type="number" id="input-frequency" min="0" max="1766000000" step="1" placeholder="1420405000" value="1420405000">
            <button id="reset-frequency-button">H</button>
        </div>   

        <label for="rtlsdr_sample_rate">Bandwidth (MHz)</label>
        <select id="rtlsdr_sample_rate">
            <option value="1.024" {% if sample_rate == 1.024 %}selected{% endif %}>1.024</option>
            <option value="1.4" {% if sample_rate == 1.4 %}selected{% endif %}>1.4</option>
            <option value="1.8" {% if sample_rate == 1.8 %}selected{% endif %}>1.8</option>
            <option value="1.92" {% if sample_rate == 1.92 %}selected{% endif %}>1.92</option>
            <option value="2.4" {% if sample_rate == 2.4 %}selected{% endif %}>2.4</option>
            <option value="2.56" {% if sample_rate == 2.56 %}selected{% endif %}>2.56</option>
        </select>

        <label for="rtlsdr_gain">Gain</label>
        <div class="gain-container">
            <input type="range" id="rtlsdr_gain" name="rtlsdr_gain" min="0" max="50" value="50" step="1" oninput="this.nextElementSibling.value = this.value">
            <output>50</output>
        </div>
        
        <div class="checkbox-container">
            <label for="bias-tee-checkbox" class="checkbox-label">Bias Tee</label>
            <input type="checkbox" id="bias-tee-checkbox" class="styled-checkbox" {% if default_bias_tee %}checked{% endif %}>
        </div>
       
        <label for="input-integration_time">Integration Minutes</label>
        <input type="number" id="input-integration_time" min="0" max="60" step="0.1" placeholder="Integration Minutes" value="{{ integration_minutes }}">

        <div class="checkbox-container">
            <label for="remove-peaks-checkbox" class="checkbox-label">Remove Peaks</label>
            <input type="checkbox" id="remove-peaks-checkbox" class="styled-checkbox" {% if default_remove_peaks %}checked{% endif %}>
        </div>     
        
        <label for="input-peaks_prominence">Remove Peaks Prominence</label>
        <input type="number" id="input-peaks_prominence" step="0.01" placeholder="Remove Peaks Prominence" value="{{ peaks_prominence }}">        
        
        <div class="checkbox-container">
            <label for="plot-peaks-checkbox" class="checkbox-label">Plot Peaks</label>
            <input type="checkbox" id="plot-peaks-checkbox" class="styled-checkbox" {% if default_plot_peaks %}checked{% endif %}>
        </div>

        <div class="checkbox-container">
            <label for="bilateral_filter-checkbox" class="checkbox-label">Bilateral Smoothing</label>
            <input type="checkbox" id="bilateral_filter-checkbox" class="styled-checkbox" {% if default_bilateral_filter %}checked{% endif %}>
        </div>       

        <label for="input-sigma_spatial">Sigma Spatial</label>
        <input type="number" id="input-sigma_spatial" step="0.01" placeholder="Sigma Spatial" value="{{ sigma_spatial }}">
        
        <label for="input-sigma_intensity">Sigma Intensity</label>
        <input type="number" id="input-sigma_intensity" step="0.01" placeholder="Sigma Intensity" value="{{ sigma_intensity }}">         
        


        <br/>

        <button id="send-button">Record Dark Frame</button>
        <button id="clear-dark-frame">Clear Dark Frame</button>
        <div id="dark-frame-text">Dark Frame Status: N/A</div>


    </div>

    <!-- Content area for graphs -->
    <div class="content">
        <h1>Discovery Dish Hydrogen Line</h1>
        <!-- Row for intermediate_avg_graph and graph side by side -->
        <div class="graph-row">
            <div id="intermediate_avg_graph"></div>
            <div id="graph"></div>
        </div>
        
        <!-- Row for intermediate_avg_heatmap and heatmap side by side -->
        <div class="graph-row">
            <div id="intermediate_avg_heatmap"></div>
            <div id="heatmap"></div>
        </div>
        
                <!-- Row for intermediate_avg_heatmap and heatmap side by side -->
        <div class="graph-row">
            <div id="sky_map"></div>
        </div>

    </div>
    
    


    <script>
    
        // Initialize the scatter plot only once
        Plotly.newPlot('intermediate_avg_graph', [{
            x: [],
            y: [],
            mode: 'lines',  // or 'markers' or 'lines+markers'
            type: 'scatter'
        }, {
            x: [],  // Empty data for peaks initially
            y: [],
            mode: 'markers',  // Peaks will be plotted as markers
            marker: {
                size: 6,  // Small circles for the peaks
                symbol: 'circle',
                color: 'red'
            },
            name: 'Peaks'  // Label for the peaks trace
        }], {
            xaxis: { 
                title: '', 
                showticklabels: true,
                tickformat: '~s',  // Use SI units with automatic scaling (this will show G for gigahertz)
                exponentformat: 'none'  // Avoid scientific notation
            },
            yaxis: { title: '', showticklabels: true },
            margin: { l: 25, r: 10, t: 10, b: 30 }, // Reduced margin around the graph
            showlegend: false            // Hide the legend on this graph
        }, { responsive: true });    
    
    
    
        // Initialize the scatter plot only once
         Plotly.newPlot('graph', [{
            x: [],
            y: [],
            mode: 'lines',  // or 'markers' or 'lines+markers'
            type: 'scatter'
        }, {
            x: [],  // Empty data for peaks initially
            y: [],
            mode: 'markers',  // Peaks will be plotted as markers
            marker: {
                size: 6,  // Small circles for the peaks
                symbol: 'circle',
                color: 'red'
            },
            name: 'Peaks'  // Label for the peaks trace
        }], {
            xaxis: { 
                title: '', 
                showticklabels: true,
                tickformat: '~s',  // Use SI units with automatic scaling (this will show G for gigahertz)
                exponentformat: 'none'  // Avoid scientific notation
            },
            yaxis: { title: '', showticklabels: true },
            margin: { l: 25, r: 10, t: 10, b: 30 },
            showlegend: false  // Hide the legend on this graph
        }, { responsive: true });
        
        // Initialize a buffer for z_data (waterfall buffer)
        const buffer_size = 100;  // Number of rows in the heatmap (i.e., time slices)
        let z_data = [];

        // Initialize the heatmap plot with an empty z_data
        Plotly.newPlot('heatmap', [{
            z: z_data,
            x: [],
            type: 'heatmap',
            colorscale: 'Viridis',
            showscale: false
        }], {
            xaxis: { 
                title: '',
                showticklabels: true,                
                tickformat: '~s',  // Use SI units with automatic scaling (this will show G for gigahertz)
                exponentformat: 'none'  // Avoid scientific notation
            },
            yaxis: { title: '', showticklabels: true },
            margin: { l: 25, r: 10, t: 10, b: 30 }

        }, { responsive: true });    
        
        let int_avg_z_data = [];

        // Initialize the heatmap plot with an empty z_data
        Plotly.newPlot('intermediate_avg_heatmap', [{
            z: int_avg_z_data,
            x: [],
            type: 'heatmap',
            colorscale: 'Viridis',
            showscale: false
        }], {
            xaxis: { 
                title: '', 
                showticklabels: true,
                tickformat: '~s',  // Use SI units with automatic scaling (this will show G for gigahertz)
                exponentformat: 'none'  // Avoid scientific notation
            },
            yaxis: { title: '', showticklabels: true, },
            margin: { l: 25, r: 10, t: 10, b: 30 }

        }, { responsive: true });           
        

        // Connect to WebSocket (Socket.IO running locally)
        const socket = io();
        
        socket.on('star_data', function(data) {
            const stars_x = data.stars.x;
            const stars_y = data.stars.y;
            const stars_sizes = data.stars.sizes;

            //console.log("Star: ", data.x);

            Plotly.newPlot('sky_map', [{
                x: stars_x,
                y: stars_y,
                mode: 'markers',
                marker: {
                    size: stars_sizes,
                    color: 'white'
                }
            }], {
                plot_bgcolor: 'black',
                xaxis: {
                    showgrid: false,
                    zeroline: false,
                    range: [-1, 1],  // Limiting x-axis for circular plot appearance
                    scaleanchor: "y", // Maintain circular shape
                    scaleratio: 1
                },
                yaxis: {
                    showgrid: false,
                    zeroline: false,
                    range: [-1, 1],  // Limiting y-axis for circular plot appearance
                    scaleanchor: "x",
                    scaleratio: 1
                },
                shapes: [{
                    type: 'circle',
                    xref: 'x',
                    yref: 'y',
                    x0: -1,
                    y0: -1,
                    x1: 1,
                    y1: 1,
                    line: {
                        color: 'white'
                    }
                }],
                title: "Interactive Sky Map"
            });
        });

        // Handle WebSocket messages with spectrum data
        socket.on('spectrum_data', function(data) {
                    
            const center_freq = data.center_freq
            // Add center_freq to each value in x_data to center around the frequency
            const x = data.x_data.map(value => value + center_freq);
            const y = data.y_data;
            const int_avg_y = data.int_avg_y_data;
            const dark_frame_status = data.dark_frame_status;
            
            
            const peaks_x = data.peaks_x.map(value => value + center_freq); // x-values of the peaks
            const peaks_y = data.peaks_y; // y-values (amplitudes) of the peaks
            

            
            
            
            // Update the existing scatter plot with new data (replace the old data)
            Plotly.restyle('intermediate_avg_graph', {
                x: [x],  // New x data
                y: [int_avg_y]   // New y data
            }, [0]);  // [0] is the trace index to update     


            // Use Plotly.restyle() instead of adding new traces to avoid duplication
            if (peaks_x.length > 0 && peaks_y.length > 0) {
                Plotly.restyle('intermediate_avg_graph', {
                    x: [peaks_x],  // Frequencies at the peaks
                    y: [peaks_y],  // Amplitudes at the peaks
                    marker: {
                        size: 6,  // Small circles
                        symbol: 'circle',
                        color: 'red'
                    },
                    visible: true
                }, [1]);  // [1] is the trace index for the peaks (assuming it's the second trace)
            }
            else
            {
                // Hide the trace when there are no peaks
                Plotly.restyle('intermediate_avg_graph', {
                    visible: false  // Hide the trace
                }, [1]);  // [1] is the trace index for the peaks
            }            
            
            
            // Dynamically update the X-axis range based on the new data
            //Plotly.relayout('intermediate_avg_graph', {
            //    'xaxis.range': [Math.min(...x), Math.max(...x)]  // Set the min and max for the y-axis                
            //});
            

            // Update the existing scatter plot with new data (replace the old data)
            Plotly.restyle('graph', {
                x: [x],  // New x data
                y: [y]   // New y data
            }, [0]);  // [0] is the trace index to update
            
            // Use Plotly.restyle() instead of adding new traces to avoid duplication
            //if (peaks_x.length > 0 && peaks_y.length > 0) {
            //    Plotly.restyle('graph', {
            //        x: [peaks_x],  // Frequencies at the peaks
            //        y: [peaks_y],  // Amplitudes at the peaks
            //        marker: {
            //            size: 6,  // Small circles
            //            symbol: 'circle',
            //            color: 'red'
            //        },
            //        visible: true
            //    }, [1]);  // [1] is the trace index for the peaks (assuming it's the second trace)
            //}
            //else
            //{
            //    // Hide the trace when there are no peaks
            //    Plotly.restyle('graph', {
            //        visible: false  // Hide the trace
            //    }, [1]);  // [1] is the trace index for the peaks
            //}
            
            
            // Dynamically update the X-axis range based on the new data
            //Plotly.relayout('graph', {
            //    'xaxis.range': [Math.min(...x), Math.max(...x)]  // Adjust x-axis to fit the new data
            //});
            
            
            // Dynamically initialize z_data with -80 if it's empty (first time the data is received)
            if (z_data.length === 0) {
                const data_points_per_row = y.length;  // Dynamically get the number of data points
                z_data = Array(buffer_size).fill().map(() => Array(data_points_per_row).fill(-80));
            }
        
            // Add the new row to z_data (waterfall buffer)
            z_data.push(y);
            
            // Ensure the buffer doesn't exceed the buffer size
            if (z_data.length > buffer_size) {
                z_data.shift();  // Remove the oldest row if buffer exceeds size
            }

            // Update the heatmap plot with the new z_data (waterfall effect)
            Plotly.update('heatmap', {
                z: [z_data],
                x: [x]
            });
            
            // Dynamically update the X-axis range of the heatmap based on the new data
            //Plotly.relayout('heatmap', {
            //    'xaxis.range': [Math.min(...x), Math.max(...x)]  // Adjust x-axis to fit the new data
            //});
            
            
            
            
            // Dynamically initialize z_data with -80 if it's empty (first time the data is received)
            if (int_avg_z_data.length === 0) {
                const data_points_per_row = int_avg_y.length;  // Dynamically get the number of data points
                int_avg_z_data = Array(buffer_size).fill().map(() => Array(data_points_per_row).fill(-80));
            }
        
            // Add the new row to z_data (waterfall buffer)
            int_avg_z_data.push(int_avg_y);
            
            // Ensure the buffer doesn't exceed the buffer size
            if (int_avg_z_data.length > buffer_size) {
                int_avg_z_data.shift();  // Remove the oldest row if buffer exceeds size
            }

            // Update the heatmap plot with the new z_data (waterfall effect)
            Plotly.update('intermediate_avg_heatmap', {
                z: [int_avg_z_data],
                x: [x]
            });
            
            // Dynamically update the X-axis range of the heatmap based on the new data
            //Plotly.relayout('intermediate_avg_heatmap', {
            //    'xaxis.range': [Math.min(...x), Math.max(...x)]  // Adjust x-axis to fit the new data
            //});            
            
            
            
            
            

            // Update the dark frame text in the div
            document.getElementById("dark-frame-text").textContent = `Dark Frame Status: ${dark_frame_status}`;
        });

        // Handle button clicks and send WebSocket messages to the server
        document.getElementById("send-button").addEventListener("click", function() {
            socket.emit('button_clicked', { command: 'record_dark_frame_clicked' });
        });

        document.getElementById("clear-dark-frame").addEventListener("click", function() {
            socket.emit('button_clicked', { command: 'clear_dark_frame_clicked' });
        });
        
        // Attach the input event listener to both input-number-1 and input-number-2
        document.getElementById('input-integration_time').addEventListener('input', function() {
            let payload = { integration_minutes: parseFloat(this.value) };
            socket.emit('program_settings', payload);
        });        
        
        // Handle the float dropdown menu for real-time sending on change
        document.getElementById('rtlsdr_sample_rate').addEventListener('change', function() {
            let payload = { rtlsdr_sample_rate: parseFloat(this.value) };
            socket.emit('rtlsdr_settings', payload);
        });
        
        // Handle the range slider for real-time sending on change
        document.getElementById('rtlsdr_gain').addEventListener('input', function() {
            let payload = { rtlsdr_gain: parseInt(this.value) };
            socket.emit('rtlsdr_settings', payload);
        });        
        
        document.getElementById('input-frequency').addEventListener('input', function() {
            let payload = { rtlsdr_frequency: parseFloat(this.value) };
            socket.emit('rtlsdr_settings', payload);
        });
        
        const default_frequency = 1420405000;

        // Reset the frequency input value when the 'H' button is clicked
        document.getElementById('reset-frequency-button').addEventListener('click', function() {
            document.getElementById('input-frequency').value = default_frequency;
            let payload = { rtlsdr_frequency: parseFloat(default_frequency) };
            socket.emit('rtlsdr_settings', payload);
        });        
        
        // Handle the bias tee checkbox for real-time sending on change
        document.getElementById('bias-tee-checkbox').addEventListener('change', function() {
            let payload = { bias_tee_enabled: this.checked };
            socket.emit('rtlsdr_settings', payload);
        });
        
        
        // Handle the bias tee checkbox for real-time sending on change
        document.getElementById('remove-peaks-checkbox').addEventListener('change', function() {
            let payload = { remove_peaks_enabled: this.checked };
            socket.emit('program_settings', payload);
        });
        
        
        document.getElementById('input-peaks_prominence').addEventListener('input', function() {
            let payload = { peaks_prominence: parseFloat(this.value) };
            socket.emit('program_settings', payload);
        });
        
        document.getElementById('input-sigma_spatial').addEventListener('input', function() {
            let payload = { sigma_spatial: parseFloat(this.value) };
            socket.emit('program_settings', payload);
        });
        
        document.getElementById('input-sigma_intensity').addEventListener('input', function() {
            let payload = { sigma_intensity: parseFloat(this.value) };
            socket.emit('program_settings', payload);
        });        
        
        // Handle the bias tee checkbox for real-time sending on change
        document.getElementById('plot-peaks-checkbox').addEventListener('change', function() {
            let payload = { plot_peaks_enabled: this.checked };
            socket.emit('program_settings', payload);
        });
        
        // Handle the bias tee checkbox for real-time sending on change
        document.getElementById('bilateral_filter-checkbox').addEventListener('change', function() {
            let payload = { bilateral_filter_enabled: this.checked };
            socket.emit('program_settings', payload);
        });        


        // Handle input text box for submission on Enter or blur
        //const input_integration_time = document.getElementById('input-integration_time');

        // Listen for value change
        //input_integration_time.addEventListener('input', function() {
        //    socket.emit('input_text', { number: parseFloat(input_integration_time.value) });
        //});


        // Handle server response to the button click
        socket.on('server_response', function(data) {
            console.log("Server response:", data.response);
        });
    </script>
</body>
</html>